form {
    display: flex;
    background-color: #2196f3;
}

input[type=text] {
    flex-grow: 1;
    border-width: 0 0 1px 0;
    margin: 15px 10px 15px 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #0d47a1;
    border-style: none;
    text-shadow: none;
    text-transform: uppercase;
    color: #bbdefb;
    letter-spacing: 2px;
    outline: none;
}

input[type=text]::-webkit-input-placeholder{
    color: #bbdefb;
    letter-spacing: 2px;
}

input[type=text]:focus{
    background-color: #1565c0;
}

input[type=submit] {
    display: block;
    font-size: .6em;
    margin: 15px 15px 15px 0; 
    padding: 10px;
    background-color: #0d47a1;
    border-radius: 5px;
    border: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: none;
    text-transform: uppercase;
    cursor: pointer;
}